.layout {
    width: 1243px;
    height: 734px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background: #fff;
}

.login-main {
    margin-left: 111px;
    display: flex;
    background: #fff;
    border-radius: 10px;
}

.login-logo {
    display: flex;
    width: 274px;
    height: 74px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 10px;
}


.login-input {
    margin-left: 35px;
    margin-right: 47px;
}
.el-input{
    height: 39px;
}
